@mixin reveal-text-gen($bgColor: #f2f98b) {
    position: relative;
    display: block;
    user-select: none;
    animation-name: reveal-text;
    // color: #FFF;
    white-space: nowrap;
    cursor: default;
    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bgColor;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: revealer-text;
    }
}

@mixin reveal-text-rev( $bgColor: #f2f98b) {
    position: relative;
    display: block;
    user-select: none;
    animation-name: reveal-text;
    // color: #FFF;
    white-space: nowrap;
    cursor: default;
    &::after {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        right: 5rem;
        bottom: 0;
        background-color: $bgColor;
        transform: scaleX(0);
        transform-origin: 0 50%;
        pointer-events: none;
        animation-name: revealer-text-reverse;
    }
}