@import './common/mixins.scss';
.hello {
    .hi {
        width: 100%;
    }
}

body {
    height: 100%;
}

.fp-tableCell {
    display: flex !important;
}

.headerDivider {
    border-left: 1px solid #38546d;
    border-right: 1px solid #0c3442;
    height: 2rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.intro-section {
    padding-left: 5rem;
    padding-top: 5rem;
    .intro-text {
        h2 {
            font-family: 'The Bold Font';
            letter-spacing: 0.5rem;
            font-size: 5rem;
            margin: 0;
            margin-bottom: 2rem;
        }
        #hi-text {
            @include reveal-text-gen(#EF5350);
            color: #424242;
        }
        .intro {
            #first-text {
                margin-right: 0.5rem;
                // color: #D9B310;
                margin-right: 2rem;
                // word-spacing: -1.5rem;
                @include reveal-text-gen(#EF5350);
                color: #424242;
            }
            .name {
                color: #EF5350;
                @include reveal-text-rev(#424242);
                transform-origin: 100% 50%;
            }
            p {
                font-family: 'Lato';
                font-weight: 200;
                font-size: 1.5rem;
            }
            #main-job-desc {
                color: #119fa7;
            }
            #primary-job-desc {
                color: #EF5350;
            }
            .resume {
                margin-top: 1rem;
                a {
                    padding: 1rem 3rem 1rem 3rem;
                    border: 1px solid #f0524f;
                    color: #f0524f;
                    text-decoration: none;
                    font-family: 'The Bold Font';
                    letter-spacing: 0.08rem;
                }
            }
        }
    }
    .intro-image {
        img {
            @include reveal-text-rev(#424242);
            max-width: 100%;
        }
    }
}

.about-me-section {
    padding-left: 5rem;
    padding-top: 2rem;
    padding-right: 3rem;
    .about-me-text {
        font-family: 'Lato';
        font-weight: 900;
        font-size: 5rem;
        color: #fff;
        opacity: 0.9;
        span {
            background: #424242;
        }
        // span {
        //     background-color: #3d3636fc;
        // }
    }
}

@import './common/reveal-anim.scss';
@import './experience.scss';
@import './skill.scss';
@import './contact.scss';