.experience-section {
    #exp-text {
        padding: 2rem;
        h4 {
            font-family: 'Lato';
            letter-spacing: 0.5rem;
            font-size: 5rem;
            margin: 0;
            color: #fff;
            opacity: 0.9;
        }
    }
    .experience-description {
        justify-content: space-between;
        padding-right: 5rem;
        padding-top: 3rem;
        .ibm-exp,
        .cd-exp {
            width: 30%;
            img {
                width: 100%;
            }
        }
        .cd-exp {
            align-items: center;
            display: grid;
        }
    }
}

#light-text {
    font-weight: 100;
}

#bold-text {
    font-weight: 900;
}