.skillset-section {
    padding-left: 5rem;
    padding-top: 2rem;
    .skill-text {
        h4 {
            font-family: 'Lato';
            letter-spacing: 0.5rem;
            font-size: 5rem;
            margin: 0;
            color: #EF5350;
            opacity: 0.9;
        }
    }
    .skillset {
        padding-top: 5rem;
        .technology {
            margin-bottom: 3rem;
        }
        ul {
            padding: 0;
            list-style: none;
            li {
                display: inline-block;
                margin-right: 40px;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }
}